<section class="grid grid-cols-10 section section__about" id="about">
    <div class="col-start-4 md:col-start-2 col-span-4">
        <h4 class="text-5xl">About</h4>
    </div>
    <div class="col-start-2 col-end-10 md:col-start-6 md:col-end-10 col-span-6">
        <p class="my-5 md:my-0">
        I am a guy from Peru who is currently studying to become a Full-Stack
        while pursuing an engineering career in biotechnology.
        </p>
        <p class="my-5 md:my-3">
        Being self-taught is allowing me to develop as a polymath, so I acquire
        knowledge quickly, these skills have allowed me to develop projects and
        improve my logical thinking in order to provide solutions to the problems
        that I face in my current fields. 
        <br>
        Although I'm now dedicated to
        development, I have a solid background in Product Design so my process is
        to <strong>ideate, develop and create</strong>.
        </p>

        <ul class="grid grid-cols-2 md:grid-cols-3 py-5 gap-2">
        <li class="about__skillsItems">HTML/CSS</li>
        <li class="about__skillsItems">Javascript</li>
        <!-- <li class="about__skillsItems">Reactjs</li> -->
        <li class="about__skillsItems">Astro</li>
        <li class="about__skillsItems">Nodejs</li>
        <li class="about__skillsItems">Figma</li>
        <!-- <li class="about__skillsItems">Python</li> -->
        <li class="about__skillsItems">Sass</li>
        <li class="about__skillsItems">Tailwind</li>
        <li class="about__skillsItems">Bootstrap</li>
        <li class="about__skillsItems">GIT</li>
        <li class="about__skillsItems">Adobe</li>
        <li class="about__skillsItems">MS Office</li>
        </ul>
    </div>
</section>
