<section class="section__contact" id="contact">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center">Get In Touch</h2>
        <p class="mb-8 lg:mb-16 font-light text-center  sm:text-xl"> My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!</p>
        <!-- <form action="#" class="space-y-8">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium">Your email</label>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 contact__input" placeholder="name@e-mail.com" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium">Your message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 contact__input" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="content-center py-3 px-5 text-sm font-medium text-gray-900 text-center rounded-lg bg-gray-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-500 contact__input contact__button">Send message</button>
        </form> -->
        <h4 class="mb-4 tracking-tight font-extrabold text-center">Send Me a Message</h4>
        <p class="text-2xl md:text-6xl text-center hover:underline cursor-pointer">renato.vace@gmail.com</p>
        <h4 class="my-6 tracking-tight font-extrabold text-center">Or Connect With Me On Socials</h4>
        <div class=" justify-center flex items-center center md:p-6">
            <ul class="flex flex-col  items-center ">
                <li>
                    <a href="https://www.instagram.com/renato_va.ce/" target="_blank" class="text-4xl mr-4 hover:underline md:mr-6">Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/RenatoValenci20" target="_blank" class="text-4xl mr-4 hover:underline md:mr-6">Twitter</a>
                </li>
                <li>
                    <a href="https://github.com/RenatoJVA" target="_blank" class="text-4xl mr-4 hover:underline md:mr-6">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rjva29/" target="_blank" class="text-4xl mr-4 hover:underline md:mr-6">LinkedIn</a>
                </li>
            </ul>
        </div>

    </div>
</section>