<section class="grid grid-cols-10 section section__hero" id="home">
    <div class="py-2 md:col-start-2 col-span-6 md:py-8" id="hero-1">
        <div class="">
            <p class="max-sm:text-center md:text-left" id="hero__card">Hi there, I'm</p>
            <h1 class="max-sm:text-center md:text-left" id="hero__name">Renato Valencia Arce</h1>
        </div>
        
    </div>    
    <div class="col-start-2 col-end-10 md:col-start-6 md:col-end-10 col-span-6" id="hero-2">
        <h2 class="text-center md:text-left" id="hero__description-1">
        I'm a  Junior Front-End Developer and designer.
        </h2>
        <p class="text-center md:text-left" id="hero__description-2">
            A mix of user interface and user experience, Web Developer and product designer.
            I can work closely with teams focusing on design to build websites and microsites for businesses and individuals. I am interested in expanding my stack of technologies and getting into complex software development.
            <br><br>
            With my background in UI and product engineering, I solve product problems and build engaging and usable web experiences.
        </p>
    </div>
    <div class="col-start-4 md:col-start-6 md:col-end-10 col-span-6 button__contact">
        <a download="" href="Pdf/CV-RJVA.pdf" class="button_1">Resume</a>
    </div>
</section>
