<footer class="p-4 justify-center shadow flex items-center center md:p-6 ">
    <ul class="flex flex-wrap items-center mt-3 text-sm">
        <!--Instagram -->
        <li>
            <a href="https://www.instagram.com/renato_va.ce/" target="_blank" class="text-xl md:text-5xl mr-4 hover:underline md:mr-6"><i class="uil uil-instagram"></i></a>
        </li>
        <!--Twitter -->
        <li>
            <a href="https://twitter.com/RenatoValenci20" target="_blank" class="text-xl md:text-5xl mr-4 hover:underline md:mr-6"><i class="uil uil-twitter"></i></a>
        </li>
        <!--Github -->
        <li>
            <a href="https://github.com/RenatoJVA" target="_blank" class="text-xl md:text-5xl mr-4 hover:underline md:mr-6"><i class="uil uil-github"></i></a>
        </li>
        <!--Linkedin -->
        <li>
            <a href="https://www.linkedin.com/in/rjva29/" target="_blank" class="text-xl md:text-5xl hover:underline md:mr-6"><i class="uil uil-linkedin"></i></a>
        </li>
    </ul>
    
</footer>